/* General Styles */
body {
    font-family: Arial, sans-serif;
    padding-top: 50px; /* Space for the navbar */
}

/* Navbar */
.navbar {
    background-color: #ccc;
    margin-bottom: 0;
}

/* Mobile Menu Styles */
.navbar-toggle {
    border: none;
    background: none !important;
}

.icon-bar {
    background-color: black;
}

/* Page Heading */
h1 {
    margin: 30px 0;
    font-size: 2em;
}

/* Content Section */
.content-section {
    background-color: #aaa;
    padding: 30px;
    height: 1000px; /* Ensuring the section is really tall */
}

.content-section h2 {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

